<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Cesta k SQLite databázi (absolutní nebo relativní) -->
    <add key="Sqlite:DatabasePath" value="c:\MeterData\MeterData.db" />
    <!-- Port webového serveru -->
    <add key="WebPort" value="5000" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
